#!/bin/sh
### BEGIN INIT INFO
# Provides:          firewall
# Required-Start:
# Required-Stop:
# X-Start-Before:    $network
# X-Stop-After:      $network
# Default-Start:     S 2 3 4 5
# Default-Stop:      0 6
# Short-Description: firewall script...
### END INIT INFO
### BEGIN DESCRIPTION INFO
# This very simple IPv4 firewall solution consists of just an iptables dump
# and this init script to restore it.
### END DESCRIPTION INFO

conf4file="{{ rules.v4 }}"
conf6file="{{ rules.v6 }}"
tmp4file="/tmp/iptables-save.for.comparison"
tmp6file="/tmp/ip6tables-save.for.comparison"
applytimeout={{ applytimeout }}

# Get lsb functions
. /lib/lsb/init-functions
. /etc/default/rcS

start()
{
    fail="0"
    log_daemon_msg "starting firewall"
    echo "as per default, close everything..."
    lsmod | grep "ip6_tables" >/dev/null || modprobe ip6_tables || fail="1"
    ip6tables -P INPUT DROP
    ip6tables -P FORWARD DROP
    ip6tables -P OUTPUT DROP
    lsmod | grep "ip_tables" >/dev/null || modprobe ip_tables || fail="2"
    iptables -P INPUT DROP
    iptables -P FORWARD DROP
    iptables -P OUTPUT DROP
    if [ "$fail" -eq "0" ] ;then
        [ -r "$conf4file" ] && iptables-restore $conf4file
        echo "1" > /proc/sys/net/ipv4/ip_forward
        [ -r "$conf6file" ] && ip6tables-restore $conf6file
        log_success_msg
    else
        log_failure_msg
        exit 1
    fi
}
stop()
{
    log_daemon_msg "stoping firewall"
    ip6tables -P INPUT ACCEPT
    ip6tables -P FORWARD ACCEPT
    ip6tables -P OUTPUT ACCEPT
    ip6tables -F
    iptables -t nat -F PREROUTING
    iptables -t nat -F POSTROUTING
    iptables -P INPUT ACCEPT
    iptables -P FORWARD DROP
    iptables -P OUTPUT ACCEPT
    iptables -F INPUT
    iptables -F FORWARD
    iptables -F OUTPUT
    log_success_msg
}
sesam()
{
    log_daemon_msg "everything goes"
    ip6tables -P INPUT ACCEPT
    ip6tables -P FORWARD ACCEPT
    ip6tables -P OUTPUT ACCEPT
    ip6tables -F
    iptables -P INPUT ACCEPT
    iptables -P FORWARD ACCEPT
    iptables -P OUTPUT ACCEPT
    iptables -F INPUT
    iptables -F FORWARD
    iptables -F OUTPUT
    log_success_msg
}
apply()
{
    [ -r "$conf4file" ] && iptables-apply -t "$applytimeout" $conf4file
    [ -r "$conf6file" ] && ip6tables-apply -t "$applytimeout" $conf6file
}
restore()
{
    [ -r "$conf4file" ] && iptables-restore $conf4file
    [ -r "$conf6file" ] && ip6tables-restore $conf6file
}
save()
{
    iptables-save > $conf4file
    ip6tables-save > $conf6file
}
compare()
{
    if [ -e "$tmp4file" ] ; then
        echo "== please remove $tmp4file first =="
    else
        /sbin/iptables-save > $tmp4file
        echo "== comparing IPv4 $tmp4file with $conf4file =="
        /usr/bin/diff -dwi -I "^:" -I "^\#" $tmp4file $conf4file
        /bin/rm $tmp4file
    fi
    if [ -e "$tmp6file" ] ; then
        echo "== please remove $tmp6file first =="
    else
        /sbin/iptables-save > $tmp6file
        echo "== comparing IPv4 $tmp6file with $conf6file =="
        /usr/bin/diff -dwi -I "^:" -I "^\#" $tmp6file $conf6file
        /bin/rm $tmp6file
    fi
}
usage()
{
    echo ""
    echo "/etc/init.d/inofixwall [ start | stop | restart | force-reload |"
    echo "                         status | compare | sesam | restore |"
    echo "                         save | usage | test | apply ]"
    echo "                      start           start the firewall"
    echo "                      stop            stop the firewall"
    echo "                      restart         stop and start the firewall"
    echo "                      force-reload    same as restart"
    echo "                      status          show the current iptables (v4)"
    echo "                      compare         show difference between config"
    echo "                                      and running iptables"
    echo "                      sesam           open up everything"
    echo "                      restore         re-read the firewall rules"
    echo "                      reload          same as restore"
    echo "                      save            save the rules to the config"
    echo "                      apply           test the rules, fall back if"
    echo "                                      necessary"
    echo "                      test            same as apply"
    echo "                      anything els    print this help"
}
case $1 in
    start)
        start
    ;;
    stop)
        stop
    ;;
    restart|force-reload)
        stop
        start
    ;;
    stat*)
        iptables-save
    ;;
    comp*)
        compare
    ;;
    sesam)
        sesam
    ;;
    restore|reload)
        restore
    ;;
    save)
        save
    ;;
    test|apply)
        apply
    ;;
    *)
        usage
    ;;
esac
