[ssh]

enabled = true
port    = {{ fail2ban__sshd_port }}
filter  = sshd
{% if fail2ban__logpath == fail2ban__systemd_journald %}
    backend = systemd
{% else %}
    logpath  = {{ fail2ban__sshd_log }}
{% endif %}
maxretry = 5
bantime = 21600

